@font-face{

    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);

  
}

@font-face{
    font-family: PoppinsSemibold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf); 
}

@font-face{
    font-family: PoppinsBold;
    src: url(../assets/fonts/Poppins-Bold.ttf); 
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Poppins ;
    list-style: none;
}
@media (min-width: 1250px) {

    .card{
        height: 250px;
    }
 }
/*desktop*/
    @media (max-width: 2560px) { 

        /*espaciado */

        /*A los lados */
        .bodyconteiner {
            padding-left: 130px;
            padding-right: 130px;
           }
           /*Entre textos e imagenes*/
        .BienvenidosT{
            padding-bottom: 75px;
        }
        .firstImage{
            width: 674px;
            height: 668px;
            margin-left: 151px;
        }
        .lastaImagen{
            width: 500px;
            height: 442.109px;
            margin-left: 41px ;
        }
           .navConteiner{
            
            padding-left: 119px;
            padding-right: 140px;
           }

        .bienvenidos{
            padding-top: 122px;
            }

           .spaceCard{
            margin-top: 117.5px;
            margin-bottom: 154.5px;
        }

        .serviciosW{
            width: 996px;
        }

        .ServiciosB{
            font-size: 18px;
            font-family: PoppinsBold;
           background-color: rgba(219, 226, 255, 1);
           font-weight: bold;
           border-radius: 4px;
           padding: 15px;
           margin-bottom: 8px;
           margin-right: 4px;
        
        }


        .contactoLayoud{
            margin-top: 166px;
            margin-bottom: 219px;
        }

        .contactIconL{
        
            margin-left: 16px;
            
            
        }
        /*Diseño de los textos*/
        .titlesDesign{
            font-family: PoppinsSemibold;
            color: var(--text-text-primary, #1545F0);
            font-weight: 600;
            line-height: 70px;
            font-size: 60px;
            letter-spacing: 0.6px;
            padding-bottom: 55px;
        }
        .textDesign{
            color: var(--text-text-secondary, #171717);
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px; /* 158.333% */
            letter-spacing: 0.24px;
            padding-bottom: 55px;
        }
        .textDesign2{
            color: var(--text-text-primary, #1545F0);
            /* Text_lg/Bold */
            font-family: PoppinsBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 155.556% */
            letter-spacing: 0.18px;
        }
    }



    /*laptop 1024*/
    @media (max-width: 1439px) {

        /*Espaciado*/
        /*A los lados */
        .bodyconteiner{
            padding-left: 100px;
            padding-right: 100px;
        }
        /*Entre textos e imagenes */
        .navConteiner{
            padding-left: 88px;
            padding-right: 0px;
            
           }

           .bienvenidos{
            padding-top: 91px;
           }

           .spaceCard{
            margin-top: 84.5px;
            margin-bottom: 64.5px;
        }
        .contactoLayoud{
            margin-top: 80px;
            margin-bottom: 79px;
        }

        .contactIconL{
        
            margin-left: 26px;
            
            
        }

        .serviciosW{
            width: 696px;
        }

        .ServiciosB{
            font-size: 14px;
            font-family: PoppinsBold;
           background-color: rgba(219, 226, 255, 1);
           font-weight: bold;
           border-radius: 4px;
           padding: 10px;
           margin-bottom: 8px;
           margin-right: 4px;
        
        }


    .firstImage{
        margin-top: 40px;
        width: 536px;
        height: 532px;
        margin-left: 100px;  
    }
    .lastaImagen{
        margin-top: 70px;
        width: 503px;
        height: 324.936px;
        flex-shrink: 0;
        margin-left: 31px;
    }
    /*Diseño de los textos */
    .titlesDesign{
        color: var(--text-text-primary, #1545F0);
        font-family: PoppinsSemibold;
        font-weight: 600;
        line-height: 50px;
        font-size: 40px;
        letter-spacing: 0.6px;
        padding-bottom: 20px;
    }
    .textDesign{

        color: var(--text-text-secondary, #171717);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 158.333% */
        letter-spacing: 0.24px;
        padding-bottom: 20px;
    }
    .textDesign2{
        color: var(--text-text-primary, #1545F0);
        /* Text_lg/Bold */
        font-family: PoppinsBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.18px;
    }
    }



/*Tablet*/
    @media (max-width: 1023px) {

        /*Espaciado*/


        /*A los lados*/
        .bodyconteiner{

            padding-left: 41px;
            padding-right: 41px;

        }

        /*Entre imagenes y textos*/

        .navConteiner{

            padding-left: 25px;
            padding-right: 0px;
            

           }

           .logobytes{

            padding-left: 26px;

           }
    
           

           .bienvenidos{
            padding-top: 91px;

           }

           .spaceCard{
            margin-top: 84.5px;
            margin-bottom: 64.5px;
        }

        .contactoLayoud{

            margin-top: 80px;
            margin-bottom: 79px;

        }

        .contactIconL{
        
            margin-left: 1px;
            
            
        }

      
    

        .serviciosW{
            width: 600px;
        }

        .ServiciosB{
            font-size: 16px;
            font-family: PoppinsBold;
           background-color: rgba(219, 226, 255, 1);
           font-weight: bold;
           border-radius: 4px;
           padding: 15px;
           margin-bottom: 8px;
           margin-right: 4px;
        
        }
    
    .firstImage{
        margin-top: 40px;
        width: 536px;
        height: 532px;
        margin-left: 0%;
        
    }
    .lastaImagen{
        width: 503px;
        height: 324.936px;
        flex-shrink: 0;
        margin-left: 0%;
        margin-top: 70px;


        
    }

    /*diseño de los textos*/

    .titlesDesign{
        color: var(--text-text-primary, #1545F0);


font-family: PoppinsSemibold;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 70px; 
letter-spacing: 0.6px;
padding-bottom: 35px;
    
    }
    
    
   
    .textDesign{
        color: var(--text-text-secondary, #171717);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; 
        letter-spacing: 0.24px;
        padding-bottom: 35px;
    
    
    }
      
    .textDesign2{
        color: var(--text-text-primary, #1545F0);
        color: var(--text-text-primary, #1545F0);

        
        font-family: PoppinsBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.18px;
    
    }
    
    }
    


/*Celular*/

/*ajuste de imagenes */
    @media (max-width: 767px) {
        .firstImage{
            width: 304px;
            height: 302px;
        }
   
    .lastaImagen{
        width: 313.01px;
        height: 205px;
        
    }

    /*Espaciado */

    /*A los lados*/

    .bodyconteiner{

        padding-left: 21px;
        padding-right: 21px;
        
        
       
       }
       /*Entre imagenes y textos*/

       .logobytes{

        padding-left: 5px;

       }

       .bienvenidos{
        padding-top: 80px;
       }

       .spaceCard{
        margin-top: 65px;
        margin-bottom: 65px;
    }

    .contactoLayoud{

        margin-top: 65px;
        margin-bottom: 68px;

    }

    .contactIconL{
        
        margin-left: 34px;
        
        
    }

    .serviciosW{
        width: auto;
    }

    .ServiciosB{
        font-size: 16px;
        font-family: PoppinsBold;
       background-color: rgba(219, 226, 255, 1);
       font-weight: bold;
       border-radius: 4px;
       padding: 10px;
       margin-bottom: 10px;
       margin-right: 6px;
       line-height: 24px;
       text-align: left;
       

    
    }

    .badgeS{
        display: none;
        line-height: 24px;
        text-align: start;
        
    }


    .lastaImagen{
        margin-top: 45px;
        width: 320px;
        height: 202px;
        margin-left: 0%;
    }

    .firstImage{
        margin-top: 35px;
        width: 304px;
        height: 302px;
        margin-left: 25px;
    }

 

/*Diseño de textos*/

.titlesDesign{
    color: var(--text-text-primary, #1545F0);

font-family: PoppinsSemibold;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 38px; 
letter-spacing: 0.3px;
padding-bottom: 35px;

}


/*Titulos*/
.textDesign{
    color: var(--text-text-secondary, #171717);

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.16px;
    padding-bottom: 35px ;


}
  
.textDesign2{
    color: var(--text-text-primary, #1545F0);

    /* Text_md/Bold */
    font-family: PoppinsBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;

}


    
     }

/*Diseño general*/

header{
    background-color: #F9FAFB;
}

.body{
    background-color: #F9FAFB;
   

}




.navLinks{
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-self: center;
    text-align: right;
gap: 25px;
color: var(--text-text-primary, #1545F0);

/* Text_lg/Bold */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 15.5.556% */
letter-spacing: 0.18px;

}


.navConteiner{
    padding-top: 16px;
    background-color: #F9FAFB;
}


.logoCard{
    padding-left: 20px;
    padding-top: 20px;
    
}

.card{
    border-radius: 12px;
    background: var(--surface-surface-primary, #FFF);
    
    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 3px 1px rgba(222, 222, 222, 0.15), 0px 1px 2px 0px rgba(169, 169, 169, 0.15);

height: 320px;

}

.card-title{
    color: var(--m-3-sys-light-on-surface, #1D1B20);

/* Display_xs/Bold */
font-family: PoppinsSemibold;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: 0.24px;
}

.card-text{
    color: var(--m-3-sys-light-on-surface-variant, #49454F);

/* Text_lg/Regular */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 155.556% */
letter-spacing: 0.18px;
}









.coctactelemnt{
    margin-top: 35px;
}

.contactIcon{
   width: 54px;
   height: 54px;
    display: flex;
padding: 8px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--color-blue-tec-200, #DBE2FF);
margin-left: 18px;
}


    




footer{ 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.footerRow{
    display: flex;
}
.footerLink{
   
    display: flex;
justify-content: center;
align-items: center;
margin:  0px 20px 0px 20px;
font-weight: bold;

}

.webs{
    padding: 5px;
}
.copy{
    font-size: smaller;
    color: var(--text-text-primary, #1545F0);
text-align: right;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hr-decoration-slim {
    width: 98%;
    height: 1px;
  }
  .hr-decoration--primary-400 {
    background: var(--bm-color-primary-400);
  }

