*{
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1700px) { 
    
    *{
      font-size: 20px;
        
    }
    
    }
 
    


@media (max-width: 700px) { 
    
    .firstImage{
        
        width: 536px;
        height: 532px;
        
    }
    .lastaImagen{
        width: 503px;
        height: 330px;


        
    }
    .card1{
        display: none;
    }


    }
    
    @media (max-width: 500px) {
        .firstImage{
            width: 304px;
            height: 302px;
        }
   
    .lastaImagen{
        width: 313.01px;
        height: 205px;
        
    }

    .info{
        font-size: 12px;
    }
    
     }


.body{
    background-color: #F9FAFB;
   

}

.header{
    margin-bottom: 50px;
}

.logo{
    margin-left: 55px;
}

.navLinks{
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-self: center;
    text-align: right;
gap: 25px;
}


.firstImage{

    background-color: #F9FAFB;
    display: flex;
    padding: 0px;
    padding-left: 15px;
    
}





.BienvenidosT{
    
    margin: 0px 0px 10px 10px;
   
  
  
   
   }


.BienvenidosP{
    
 display: flex;
 width: auto;
height: auto;

flex-shrink: 0;
}

.Bienvenidos2{
    display: flex;
    

   flex-shrink: 0;
   }

.logoCard{
    padding-left: 20px;
    padding-top: 20px;
    
}

.card{
    border-radius: 12px;
background: var(--surface-surface-primary, #FFF);

/* M3/Elevation Light/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}
.layoudCard{
    margin-top: 50px;
    margin-bottom: 50px;
}


.lista{
    
    list-style: none;

}
.serviciosT{
    display: flex;
   
   margin-left: 10;
  
   flex-shrink: 0;
    

}

.ServiciosP{
     
 display: flex;
 

flex-shrink: 0;

}
.ServiciosB{
   background-color: rgba(219, 226, 255, 1);

}
.badgeLayoud{
font-weight: bold;

}

.info{
    margin-left: 15px;
}

.lastaImagen{

    padding-left: 15px;
   
   
}



footer{
    margin-top: 60px;
    background-color: #F9FAFB;
    display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.footerRow{
    display: flex;


}
.footerLink{
    display: flex;
justify-content: center;
align-items: center;
margin:  0px 20px 0px 20px;
font-weight: bold;
}


.copy{
    font-size: smaller;
}

.color1{
    color: var(--text-text-primary, #1545F0);
    
}
.color2{
    color: #1545F0;
}

.hr-decoration-slim {
    width: 98%;
    height: 1px;
  }
  .hr-decoration--primary-400 {
    background: var(--bm-color-primary-400);
  }
